<form [formGroup]="stockSearchFormArray">
    
   <!-- <mat-form-field>
        <input matInput placeholder="enter stock symbol" type="text" formControlName="stockSymbol">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="enter company name" type="text" formControlName="companyName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="enter number of shares" type="number" formControlName="shares">
    </mat-form-field> -->

Value:
    <pre>{{ stockSearchFormArray.value | json }}  </pre>

    <div formArrayName="stocks">
        <div *ngFor="let field of stockForms.controls; let i=index" [formGroupName]="i">
            <mat-form-field>
              <input 
                matInput 
                placeholder="enter stock symbol" 
                type="text" 
                formControlName="stockSymbol">
              <mat-error *ngIf="field.invalid && field.touched"> Please enter a valid stock symbol
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input 
                matInput 
                placeholder="enter company name" 
                type="text" 
                formControlName="companyName">
            </mat-form-field>

            <mat-form-field>
              <input 
                matInput 
                placeholder="enter number of shares" 
                type="number" 
                formControlName="shares">
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="deleteStockForm(i)">Remove Stock</button>
        </div>
    </div>

    <button mat-raised-button color="primary" (click)="addStockForm()">Add Stock</button>
</form>