<style>
  button {
    background-color: #2a9d8f;
    padding: 15px;
    border: 2px solid white;
    margin-bottom: 25px;
  }

  div {
    background-color: #eee;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
   }
</style>

<div class="container">

  <h1>Angular Router App</h1>
  
  <div *ngIf="auth.user$ | async as user; else login" >
    <pre>
      {{ user | json }}
    </pre>
  </div>
  
  <button (click)="auth.signOut()"> Logout </button>
  
  <ng-template #login>
    <button class="button" (click)="auth.googleSignIn()">Login</button>
  </ng-template>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/secret" routerLinkActive="active">Secret</a></li>
      <li><a routerLink="/stock-form" routerLinkActive="active">Stock Form</a></li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>

    <button (click)="getPosts()">Get data</button>
    <div *ngFor="let post of posts | async">
      {{ post | json }}
    </div>

    <button (click)="sendErroneousPost()">Create post</button>
    {{ newPost | async | json }}
</div>
    